@keyframes moveInLeft{
    0% {
      opacity: 0;
      transform: translateX(-10rem)
    }
  
    80% {
      transform: translateX(1rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  
  @keyframes moveInRight{
    0% {
      opacity: 0;
      transform: translateX(10rem);
    }
  
    80% {
      transform: translateX(-1rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  
  @keyframes moveInBottom{
    0% {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  @keyframes moveName {
    0% {
      color: #fff;
      top: 100%;
      left: 0;
    }

    25% {
      top: 85%;
      left: 15%;
    }

    50% {
      top: 75%;
      left: 25%;
    }

    75% {
      top: 65%;
      left: 35%;
    }

    100% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @keyframes moveNameIn {
    0% {
      //color: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);  
    }

    25% {
      top: 65%;
      left: 35%;
    }

    50% {
      top: 75%;
      left: 25%;
    }

    75% {
      top: 85%;
      left: 15%;
    }

    100% {
      top: 100%;
      left: 0;
    }
  }