{{#each teams}}
    <div class="card">
        <figure class="card__figure">
            <img class="card__image" src="{{img}}" alt="{{name}}">
            <figcaption class="card__name">{{name}}</figcaption>
        </figure>
        <span class="card__position">{{position}}</span>
    </div>
{{/each}}

