<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Serif&family=Poppins&display=swap" rel="stylesheet">
    <title>My team page</title>
</head>
<body class="container">
    <main>
        <section class="team">
            <h1 class="team__text-primary">The creative crew</h1>
            <aside class="team__group">
                <h3 class="team__text-secondary">who we are</h3>
                <p class="team__paragraph">We are team of creatively diverse. driven. innovative individuals working in various locations from the world.</p>
            </aside>
        </section>
        <section id="teams-members"></section>
    </main>
    <footer class="footer">
        Reynaldo Josue Cano Barcenas@DevChallenges.io
    </footer>
</body>
</html>